@charset "UTF-8";
/* CSS Document */

/*RESET ERIC MEYER*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*RESET RESPONSIVE*/

*,*:before,*:after {
	box-sizing: border-box;
	/*Pour que les padding et les bordures ne s'ajoutent plus aux mesures des boites. On peut ainsi mettre une taille de boite en % et un padding en px, par exemple*/
}

img {
	height: auto;
	/* conserver le ratio des images */
}

 textarea, table, td, th, code, pre, samp { 
	word-wrap: break-word; /* césure forcée */ 
	white-space: pre-line; /* passage à la ligne spécifique pour les éléments à châsse fixe */
	/* gestion des mots longs */  
}