html {
    scroll-behavior: smooth;
  }

body {
    font-family: "EB Garamond", sans-serif;
    background-color: #1D1C2A;
    color: #fff;
    margin: 0;
    padding: 0;
    position: relative;
}

/*NAVBAR*/

header {
    background-color: #5D6A8E;
    padding: 20px;
    top: 0;
    position: sticky;
    display: flex;
    justify-content: center;
    z-index: 999; /*Vidéo passe sous le header*/
}

header img {
    height: 100px;
    border-radius: 50%;
}

nav ul {
    width: 100%;
    padding: 0;
    gap: 20px;
    display: flex;
    align-items: center;
}

nav ul li a {
    color: #DDE9EF;
    text-decoration: none;
    font-size:25px;
    padding: 40;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    text-align: center;
}

h1,
h2,
h3 { 
    font-size: 40px;
    font-weight: bold;
    padding: 60px;
    text-align: center;
}

p{
    font-size: 25px;
    text-align: center;
}

/*PRESENTATION*/

#catchPresentation{
    font-style: italic;
}

#story{
    text-align: center, justify;
}

.container{
    max-width: 1200px;
    margin: 20px auto;
    padding: 0px 20px;
    text-align: center;
}
.video {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 */
    margin: 40px 0;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}  

.button{
    display: inline-block;
    padding: 20px 30px;
    background-color: #906FC9;
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 35px;
    border: 2px solid #906FC9;
    border-radius: 5px 5px 5px 5px;
    transition: background-color .3s ease-in-out; 
}
.button:hover {
    background-color: #1D1C2A;
    cursor: pointer;  
}

/*MECANIQUES*/

#armure{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    align-items: center;
}

#armure img{
    width: 250%;
}

#armure p{
    text-align: justify;
    margin-left: 30px;
}

#cartes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

#cartes img{
    width: 100%;
}

#cartes p {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 30px;
}

#plateau div{
    width: 100%;
    height: 400px;
    padding: 20px;
    margin: 20px 20px 0 20px;
}

#plateau-images{
    display: flex;
    position: relative;
    margin-top: 60px;
    padding-left: 80px;
    padding-right: 80px;
}

#plateau-textes{
    width: 100%;
    display: flex;
    justify-content: space-evenly;  
}

/*PERSONNAGES*/

#persos{
    display: flex;
    position: relative;
}

#persos img{
    width: 100%;
    justify-content: space-evenly;  
}

#persos-texte{
    margin: 60px;
}

/*PAGE DE CONTACT*/

#art img {
    width: 15%;
    border-radius: 50%;
}

#prog img {
    width: 15%;
    border-radius: 50%;
}

.eleve1,
.eleve2,
.eleve3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.eleve2{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    width: 115%;
}
.eleve2 img {
    padding-right: 30px;
}

/*BOUTON INSCRIPTION*/

#formulaire form {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

#formulaire input[type="email"] {
    width: 300px;
    padding: 10px;
    border: 2px solid #906FC9;
    border-radius: 5px 0 0 5px;   
    background-color: #1D1C2A;
    color: #fff;
    font-family: "EB Garamond", sans-serif;
    font-size: 16px;
    border-right: none;  
}

#formulaire button {
    padding: 0 20px;
    background-color: #906FC9;
    color: #fff;
    font-family: "EB Garamond", sans-serif;
    font-size: 25px;
    border: 2px solid #906FC9;
    border-radius: 0 5px 5px 0;
    transition: background-color .3s ease-in-out; 
}

#formulaire button:hover {
    background-color: #1D1C2A;
    cursor: pointer;  
}

#formulaire input:focus {
    outline: none;
}

/*FOOTER*/

footer img {
    margin-top: 70px;
    margin-left: 10px;
    margin-right: 10px;
    width: 2.5%;
}






/*----------------Images Mécaniques Hover----------------*/

.img-lumiere{
    width: 100%;
    padding: 20px;
    background-image: url('/img/lumiere.jpg');
    background-size: cover;
}


.img-lumiere:hover{
    background-image: url('/img/hover.jpg');
}


.img-valve{
    width: 100%;
    padding: 20px;
    background-image: url('/img/valve.jpg');
    background-size: cover;
}


.img-valve:hover{
    background-image: url('/img/hover.jpg');

}



.img-benediction{
    width: 100%;
    padding: 20px;
    background-image: url('/img/benediction.jpg');
    background-size: cover;
}


.img-benediction:hover{
    background-image: url('/img/hover.jpg');

}
/*------------------------------------------------------*/
